.App {
    font-family: sans-serif;
    text-align: center;
  }
  button{
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .prev_btn{
    margin: 10px;
    width: 80px;
  }
  .next_btn{
    margin: 10px;
    width: 80px;
  }